* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-800: #a8a8b3;
  --gray-900: #121214;
  --blue-header:#011164;
  --blue-main:#DCEEF6;
  --green-500:#1a8f0b;
  --green-600:#167709;

  --cyan-500: #61dafb;
  --yellow-500: #1bbd16;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720x) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--blue-main);
  color: var(--gray-800)
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
